<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= meta.title %>
	</title>
	<link rel="stylesheet" href="<%- global.getStylesheet(`home.sass`) %>">
</head>

<body>
	<h1 id="preact-text"></h1>
	<div>
		<img height=100 src="<%- global.getAsset(`kat`, `kitty.jpg`) %>" alt="kat" srcset="">
		from ejs
	</div>
	wrote something here
	adASdasdlfkj HMR oasdlfkja f
	<script src="<%- global.getScript(`home.tsx`) %>"></script>
</body>

</html>